$mainColor-light: #1C76C5;
$mainColor-dark: #58ACF6;
$background-light: #F9FDFF;
$background-dark: #121212;
$text-dark: #DEF2FF;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}